# Car Price Analysis
# https://www.kaggle.com/datasets/adeelsherazi/car-price-analysis?resource=download

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from random import randint
from sklearn.preprocessing import LabelEncoder 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
file_path = '/Users/ajayiyer/Desktop/DAT 402/Project 1/automobile.csv'

df = pd.read_csv(file_path)
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845
197,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045
198,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485
199,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470
200,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625

In [3]:
df.drop(df.columns[[0,1,2]], axis=1, inplace=True)
df

,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845
197,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,55.5,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045
198,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485
199,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470
200,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625

In [4]:
df.isna().sum()

fuel-type            0
aspiration           0
num-of-doors         2
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 4
stroke               4
compression-ratio    0
horsepower           2
peak-rpm             2
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [5]:
df = df.dropna(how='any', axis=0)
df.isna().sum()

fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [6]:
df.rename(columns={'fuel-type': 'fuel_type', 'num-of-doors': 'num_of_doors', 'body-style': 'body', 'drive-wheels': 'drive_wheels', 'engine-location': 'engine_location', 'wheel-base': 'wheel_base', 'curb-weight': 'curb_weight', 'engine-type': 'engine', 'num-of-cylinders': 'cylinders', 'engine-size': 'engine_size', 'fuel-system': 'fuel_system', 'compression-ratio': 'compression_ratio', 'peak-rpm': 'rpm_peak', 'city-mpg': 'city_mpg', 'highway-mpg': 'highway_mpg'}, inplace=True)
df

/Applications/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,fuel_type,aspiration,num_of_doors,body,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,rpm_peak,city_mpg,highway_mpg,price
0,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845
197,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,55.5,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045
198,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485
199,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470
200,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625

In [7]:
le = LabelEncoder()

le.fit(df.fuel_type.drop_duplicates())
df.fuel_type = le.transform(df.fuel_type)

le.fit(df.aspiration.drop_duplicates())
df.aspiration = le.transform(df.aspiration)

le.fit(df.num_of_doors.drop_duplicates())
df.num_of_doors = le.transform(df.num_of_doors)

le.fit(df.body.drop_duplicates())
df.body = le.transform(df.body)

le.fit(df.drive_wheels.drop_duplicates())
df.drive_wheels = le.transform(df.drive_wheels)

le.fit(df.engine_location.drop_duplicates())
df.engine_location = le.transform(df.engine_location)

le.fit(df.engine.drop_duplicates())
df.engine = le.transform(df.engine)

le.fit(df.cylinders.drop_duplicates())
df.cylinders = le.transform(df.cylinders)

le.fit(df.fuel_system.drop_duplicates())
df.fuel_system = le.transform(df.fuel_system)

df

/Applications/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,fuel_type,aspiration,num_of_doors,body,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,rpm_peak,city_mpg,highway_mpg,price
0,1,0,1,0,2,0,88.6,168.8,64.1,48.8,...,130,4,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,1,0,1,0,2,0,88.6,168.8,64.1,48.8,...,130,4,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,0,1,2,2,0,94.5,171.2,65.5,52.4,...,152,4,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,1,0,0,3,1,0,99.8,176.6,66.2,54.3,...,109,4,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,1,0,0,3,0,0,99.4,176.6,66.4,54.3,...,136,4,3.19,3.40,8.0,115.0,5500.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,1,0,0,3,2,0,109.1,188.8,68.9,55.5,...,141,4,3.78,3.15,9.5,114.0,5400.0,23,28,16845
197,1,1,0,3,2,0,109.1,188.8,68.8,55.5,...,141,4,3.78,3.15,8.7,160.0,5300.0,19,25,19045
198,1,0,0,3,2,0,109.1,188.8,68.9,55.5,...,173,4,3.58,2.87,8.8,134.0,5500.0,18,23,21485
199,0,1,0,3,2,0,109.1,188.8,68.9,55.5,...,145,2,3.01,3.40,23.0,106.0,4800.0,26,27,22470
200,1,1,0,3,2,0,109.1,188.8,68.9,55.5,...,141,4,3.78,3.15,9.5,114.0,5400.0,19,25,22625

In [8]:
df.dtypes

fuel_type              int64
aspiration             int64
num_of_doors           int64
body                   int64
drive_wheels           int64
engine_location        int64
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine                 int64
cylinders              int64
engine_size            int64
fuel_system            int64
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
rpm_peak             float64
city_mpg               int64
highway_mpg            int64
price                  int64
dtype: object

In [9]:
df

,fuel_type,aspiration,num_of_doors,body,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,rpm_peak,city_mpg,highway_mpg,price
0,1,0,1,0,2,0,88.6,168.8,64.1,48.8,...,130,4,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,1,0,1,0,2,0,88.6,168.8,64.1,48.8,...,130,4,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,0,1,2,2,0,94.5,171.2,65.5,52.4,...,152,4,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,1,0,0,3,1,0,99.8,176.6,66.2,54.3,...,109,4,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,1,0,0,3,0,0,99.4,176.6,66.4,54.3,...,136,4,3.19,3.40,8.0,115.0,5500.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,1,0,0,3,2,0,109.1,188.8,68.9,55.5,...,141,4,3.78,3.15,9.5,114.0,5400.0,23,28,16845
197,1,1,0,3,2,0,109.1,188.8,68.8,55.5,...,141,4,3.78,3.15,8.7,160.0,5300.0,19,25,19045
198,1,0,0,3,2,0,109.1,188.8,68.9,55.5,...,173,4,3.58,2.87,8.8,134.0,5500.0,18,23,21485
199,0,1,0,3,2,0,109.1,188.8,68.9,55.5,...,145,2,3.01,3.40,23.0,106.0,4800.0,26,27,22470
200,1,1,0,3,2,0,109.1,188.8,68.9,55.5,...,141,4,3.78,3.15,9.5,114.0,5400.0,19,25,22625

In [10]:
df.to_csv(r'/Users/ajayiyer/Desktop/DAT 402/Project 1/updated_automobiles.csv', index=False, header=True)

# Check R Code Here Then Come Back

In [11]:
for col in df:
    print(col)

fuel_type
aspiration
num_of_doors
body
drive_wheels
engine_location
wheel_base
length
width
height
curb_weight
engine
cylinders
engine_size
fuel_system
bore
stroke
compression_ratio
horsepower
rpm_peak
city_mpg
highway_mpg
price

In [12]:
df.drop(df.columns[[0, 2, 3]], axis = 1, inplace = True)
df

/Applications/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,aspiration,drive_wheels,engine_location,wheel_base,length,width,height,curb_weight,engine,cylinders,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,rpm_peak,city_mpg,highway_mpg,price
0,0,2,0,88.6,168.8,64.1,48.8,2548,0,2,130,4,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,0,2,0,88.6,168.8,64.1,48.8,2548,0,2,130,4,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,0,2,0,94.5,171.2,65.5,52.4,2823,4,3,152,4,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,0,1,0,99.8,176.6,66.2,54.3,2337,2,2,109,4,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,0,0,0,99.4,176.6,66.4,54.3,2824,2,1,136,4,3.19,3.40,8.0,115.0,5500.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,0,2,0,109.1,188.8,68.9,55.5,2952,2,2,141,4,3.78,3.15,9.5,114.0,5400.0,23,28,16845
197,1,2,0,109.1,188.8,68.8,55.5,3049,2,2,141,4,3.78,3.15,8.7,160.0,5300.0,19,25,19045
198,0,2,0,109.1,188.8,68.9,55.5,3012,4,3,173,4,3.58,2.87,8.8,134.0,5500.0,18,23,21485
199,1,2,0,109.1,188.8,68.9,55.5,3217,2,3,145,2,3.01,3.40,23.0,106.0,4800.0,26,27,22470
200,1,2,0,109.1,188.8,68.9,55.5,3062,2,2,141,4,3.78,3.15,9.5,114.0,5400.0,19,25,22625

In [13]:
df.drop(df.columns[[3, 4, 7]], axis = 1, inplace = True)
df

/Applications/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,aspiration,drive_wheels,engine_location,width,height,engine,cylinders,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,rpm_peak,city_mpg,highway_mpg,price
0,0,2,0,64.1,48.8,0,2,130,4,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,0,2,0,64.1,48.8,0,2,130,4,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,0,2,0,65.5,52.4,4,3,152,4,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,0,1,0,66.2,54.3,2,2,109,4,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,0,0,0,66.4,54.3,2,1,136,4,3.19,3.40,8.0,115.0,5500.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,0,2,0,68.9,55.5,2,2,141,4,3.78,3.15,9.5,114.0,5400.0,23,28,16845
197,1,2,0,68.8,55.5,2,2,141,4,3.78,3.15,8.7,160.0,5300.0,19,25,19045
198,0,2,0,68.9,55.5,4,3,173,4,3.58,2.87,8.8,134.0,5500.0,18,23,21485
199,1,2,0,68.9,55.5,2,3,145,2,3.01,3.40,23.0,106.0,4800.0,26,27,22470
200,1,2,0,68.9,55.5,2,2,141,4,3.78,3.15,9.5,114.0,5400.0,19,25,22625

In [14]:
df.drop(df.columns[[5, 8, 11]], axis = 1, inplace = True)
df

/Applications/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,aspiration,drive_wheels,engine_location,width,height,cylinders,engine_size,bore,stroke,horsepower,rpm_peak,city_mpg,highway_mpg,price
0,0,2,0,64.1,48.8,2,130,3.47,2.68,111.0,5000.0,21,27,13495
1,0,2,0,64.1,48.8,2,130,3.47,2.68,111.0,5000.0,21,27,16500
2,0,2,0,65.5,52.4,3,152,2.68,3.47,154.0,5000.0,19,26,16500
3,0,1,0,66.2,54.3,2,109,3.19,3.40,102.0,5500.0,24,30,13950
4,0,0,0,66.4,54.3,1,136,3.19,3.40,115.0,5500.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,0,2,0,68.9,55.5,2,141,3.78,3.15,114.0,5400.0,23,28,16845
197,1,2,0,68.8,55.5,2,141,3.78,3.15,160.0,5300.0,19,25,19045
198,0,2,0,68.9,55.5,3,173,3.58,2.87,134.0,5500.0,18,23,21485
199,1,2,0,68.9,55.5,3,145,3.01,3.40,106.0,4800.0,26,27,22470
200,1,2,0,68.9,55.5,2,141,3.78,3.15,114.0,5400.0,19,25,22625

In [15]:
df.drop(df.columns[[-2, -3, -5]], axis = 1, inplace = True)
df

/Applications/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,aspiration,drive_wheels,engine_location,width,height,cylinders,engine_size,bore,stroke,rpm_peak,price
0,0,2,0,64.1,48.8,2,130,3.47,2.68,5000.0,13495
1,0,2,0,64.1,48.8,2,130,3.47,2.68,5000.0,16500
2,0,2,0,65.5,52.4,3,152,2.68,3.47,5000.0,16500
3,0,1,0,66.2,54.3,2,109,3.19,3.40,5500.0,13950
4,0,0,0,66.4,54.3,1,136,3.19,3.40,5500.0,17450
...,...,...,...,...,...,...,...,...,...,...,...
196,0,2,0,68.9,55.5,2,141,3.78,3.15,5400.0,16845
197,1,2,0,68.8,55.5,2,141,3.78,3.15,5300.0,19045
198,0,2,0,68.9,55.5,3,173,3.58,2.87,5500.0,21485
199,1,2,0,68.9,55.5,3,145,3.01,3.40,4800.0,22470
200,1,2,0,68.9,55.5,2,141,3.78,3.15,5400.0,22625

In [16]:
x = df.drop(['price'], axis=1)
y = df[['price']]

In [17]:
x

,aspiration,drive_wheels,engine_location,width,height,cylinders,engine_size,bore,stroke,rpm_peak
0,0,2,0,64.1,48.8,2,130,3.47,2.68,5000.0
1,0,2,0,64.1,48.8,2,130,3.47,2.68,5000.0
2,0,2,0,65.5,52.4,3,152,2.68,3.47,5000.0
3,0,1,0,66.2,54.3,2,109,3.19,3.40,5500.0
4,0,0,0,66.4,54.3,1,136,3.19,3.40,5500.0
...,...,...,...,...,...,...,...,...,...,...
196,0,2,0,68.9,55.5,2,141,3.78,3.15,5400.0
197,1,2,0,68.8,55.5,2,141,3.78,3.15,5300.0
198,0,2,0,68.9,55.5,3,173,3.58,2.87,5500.0
199,1,2,0,68.9,55.5,3,145,3.01,3.40,4800.0
200,1,2,0,68.9,55.5,2,141,3.78,3.15,5400.0

In [18]:
y

     price
0    13495
1    16500
2    16500
3    13950
4    17450
..     ...
196  16845
197  19045
198  21485
199  22470
200  22625

[193 rows x 1 columns]

In [19]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=0)
lm = LinearRegression()
lm.fit(x_train, y_train)
acc_score = lm.score(x_test, y_test)
print(acc_score)

0.8910448877096417

In [20]:
print("Coefficients: ", lm.coef_)
print("Intercept: ", lm.intercept_)

Coefficients:  [[ 2.46252838e+03  1.85942113e+03  1.12229441e+04  5.97349461e+02
   3.01921007e+02 -6.83437488e+02  1.52314030e+02 -3.21894479e+03
  -3.67201192e+03  1.73364855e+00]]
Intercept:  [-49610.07301051]

In [21]:
pred = lm.predict(x_test)
print(pred, y_test)

[[ 6093.03690738]
 [ 9375.6779332 ]
 [30110.19946779]
 [12407.4921548 ]
 [13682.65083379]
 [34778.        ]
 [ 6470.39631337]
 [15660.93774677]
 [ 7082.36418255]
 [18530.1629263 ]
 [14698.68605546]
 [ 7918.39758033]
 [13682.65083379]
 [ 7371.93334681]
 [ 7016.90170287]
 [10906.3096389 ]
 [14936.61329416]
 [ 9687.81060454]
 [ 6719.01982045]
 [10706.94811014]
 [ 8093.62560345]
 [ 6654.59649409]
 [14814.17785599]
 [11482.98228251]
 [18737.37563175]
 [ 9776.47267743]
 [ 9391.68170183]
 [ 9053.80313031]
 [ 8015.60029105]
 [11482.98228251]
 [14814.17785599]
 [13261.30507629]
 [10865.02145542]
 [17347.76749605]
 [44089.07690959]
 [ 8531.2580107 ]
 [11320.24210886]
 [23621.83987785]
 [ 8107.85645408]]      price
117   6229
142   7463
45   35550
131  15510
166  11199
124  34028
18    6295
187  13295
154   7898
7    18920
5    15250
134   5118
167  11549
119   7609
86    5499
61   11245
62   18280
38    8845
147   6338
77    9959
34    7295
92    7799
112  16630
161   9298
72   16503
181   8195
172  10898
22    7957
186   9980
162   9538
104  11900
4    17450
189  12290
191  13415
46   36000
138   7775
27    8921
102  19699
149   6918

In [22]:
df.to_csv(r'/Users/ajayiyer/Desktop/DAT 402/Project 1/updated_automobiles_2.csv', index=False, header=True)

# Back to R

In [23]:
Variance = np.var(pred)
print('Variance:', Variance)
SSE = np.mean((np.mean(pred)-y)**2)
Bias = SSE - Variance
print('Bias: ', Bias)

Variance: 62144427.69456026
Bias:  price    2.950242e+06
dtype: float64